@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">home or sum sh</h1>
    <p>New it</p>
    <h1 class="display-4">Sales</h1>
    <p>Responsive & dynamic vertical bar graph that includes the following: in, out, ??? idk</p>
    <h1 class="display-4">store list</h1>
    <p>Table: location, amount of employees, amount of items, amount of orders</p>
    <h1 class="display-4">Stock numbers</h1>
    <p>Table: location???, amount of items. Color coded: Red urgent matter, orange slightly urgent | there's a view all type shi where it includes even the green coded | table is urgent to least urgent </p>
</div>
