@page
<h1>@ViewData["Title"]</h1>

<table class="inventory-table">
    <thead>
        <tr>
            <th>Item</th>
            <th>Description</th>
            <th>Supplier</th>
            <th>Date of Purchase</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Reference Number</th>
            <th>In/Out</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>CNF-223i</td>
            <td>8 cu.ft. no-frost inverter</td>
            <td>Condura</td>
            <td>01/15/2023</td>
            <td>10</td>
            <td>$3,066.18</td>
            <td>REF123456</td>
            <td>Out</td>
            <td>SMDC Light Mall</td>
        </tr>
    </tbody>
</table>