@page
<h1>@ViewData["Title"]</h1>

<!--

Todo: 
Add inventory
    -Pop up window to add another inventory
Minus inventory - the selected inventory

-->
<button id="openBtn">Open Pop-up</button>

<dialog id="myWindow">
    <h2>Settings</h2>
    <p>This is a true window pop-up!</p>
    <button id="closeBtn">Close</button>
</dialog>
<script>
    const openBtn = document.getElementById("openBtn");
    const closeBtn = document.getElementById("closeBtn");
    const myWindow = document.getElementById("myWindow");
    openBtn.addEventListener("click", () => {
        myWindow.showModal();
    });
    closeBtn.addEventListener("click", () => {
        myWindow.close();
        });    
</script>

<table class="inventory-table">
    <thead>
        <tr>
            <th>Item</th>
            <th>Description</th>
            <th>Supplier</th>
            <th>Date of Purchase</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Reference Number</th>
            <th>In/Out</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>CNF-223i</td>
            <td>8 cu.ft. no-frost inverter</td>
            <td>Condura</td>
            <td>01/15/2023</td>
            <td>10</td>
            <td>$3,066.18</td>
            <td>REF123456</td>
            <td>Out</td>
            <td>SMDC Light Mall</td>
        </tr>
    </tbody>
</table>